    {% include "header.html" %}

    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-5 mb-3">{{ project.title }}
            <!-- <small>Subheading</small> -->
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ siteBase }}/">Home</a>
            </li>
            <li class="breadcrumb-item active">Documentation</li>
        </ol>
        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-lg-3 mb-4">
                <ul class="list-group" id="doc-menu">
                    {% for menu in frontMenu %}
                    <li class="list-group-item {% if length(menu.children) > 0 %} submenu{% elif menu.item and menu.item.id == showItem.id %} selected{% endif %}">
                        <a{% if length(menu.children) > 0 %} class="submenu-title"{% endif %} href="{% if length(menu.children) > 0 %}javascript:void(0);{% else %}{{ siteBase }}/docs/{{ project.sign }}-{{ docVersion }}/{{ menu.node.sign_key }}{% endif %}">{% if length(menu.children) > 0 %}<em></em>{% endif %}{% if menu.item %}{{ menu.item.title }}{% endif %}</a>
                            {% if length(menu.children) > 0  %}
                            <ul class="list-group p-0">
                                {% for menu2 in menu.children %}
                                <li class="list-group-item {% if length(menu2.children) > 0 %} submenu{% elif menu2.item and menu2.item.id == showItem.id %} selected{% endif %}">
                                    <a{% if length(menu2.children) > 0 %} class="submenu-title"{% endif %} href="{% if length(menu2.children) > 0  %}javascript:void(0);{% else %}{{ siteBase }}/docs/{{ project.sign }}-{{ docVersion }}/{{ menu.node.sign_key }}/{{ menu2.node.sign_key }}{% endif %}">{% if length(menu2.children) > 0 %}<em></em>{% endif %}{% if menu2.item %}{{ menu2.item.title }}{% endif %}</a>
 
                                {% if length(menu2.children) > 0  %}
                                <ul class="list-group p-0">
                                    {% for menu3 in menu2.children %}
                                    <li class="list-group-item{% if menu3.item and menu3.item.id == showItem.id %} selected{% endif %}">
                                        <a href="{{ siteBase }}/docs/{{ project.sign }}-{{ docVersion }}/{{ menu.node.sign_key }}/{{ menu2.node.sign_key }}/{% if menu3.node %}{{ menu3.node.sign_key }}{% endif %}">{% if menu3.item %}{{ menu3.item.title }}{% endif %}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Content Column -->
            <div class="col-lg-9 mb-4">
                <h2>{% if showItem.title %}{{ showItem.title }}{% endif %}</h2>
                <p>{% if showItem.content_html %}{{ showItem.content_html }}{% endif %}</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    {% include "footer.html" %}