    {% include "header.html" %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-5 mb-3">{{ project.title }}
            <!-- <small>Subheading</small> -->
        </h1>
  
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ siteBase }}/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ siteBase }}/projects">Projects</a>
            </li>
            <li class="breadcrumb-item active">{{ project.title }}</li>
        </ol>
  
        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="my-3">Project Description</h3>
                <p>{{ project.introduction }}</p>
                <a href="{{ project.git_url }}" class="btn btn-primary mb-3">Github</a>
                {% for menu in topMenu %}
                    {% if menu.project_id == project.id %}
                <a href="{{ siteBase }}/{{ menu.url }}" class="btn btn-primary mb-3">Documentation</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- /.row -->
        <!-- Portfolio Item Row -->
        <div class="row  mb-4">
            <div class="col-md-12">
                <h3 class="my-3  mb-3">Project Description</h3>
                <article class="contents">
                    {{ project.detail_html }}
                </article>
            </div>
        </div>
        <!-- /.row -->
  
    </div>
    <!-- /.container -->
    
    {% include "footer.html" %}