    {% include "header.html" %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-5 mb-3">Projects
            <!-- <small>Subheading</small> -->
        </h1>
      
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ siteBase }}/">Home</a>
            </li>
            <li class="breadcrumb-item active">Projects</li>
        </ol>
      
        <div class="row mt-4">
              
            
            {% for project in projects %}
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="/project/{{ project.sign }}"  class=" w-auto text-center  mx-auto mt-4"><img class="card-img-top w-96 h-96 rounded" src="{{ project.logo_url }}" alt=""></a>
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            <a href="/project/{{ project.sign }}">{{ project.title }}</a>
                        </h4>
                        <p class="card-text">{{ project.introduction }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
      
        <!-- Pagination -->
        {% if pageView != "null" %}{{ pageView }}{% endif %}
      
    </div>
    <!-- /.container -->
    
    {% include "footer.html" %}