

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                2016 - 2018 © HuntCMS - huntframework.com
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->


<!-- jQuery  -->
<script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="/assets/admin/js/popper.min.js"></script>
<script src="/assets/admin/js/waves.js"></script>
<script src="/assets/admin/js/jquery.slimscroll.js"></script>
<script src="/assets/admin/js/jquery.scrollTo.min.js"></script>

<!-- bootstrap -->
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- App js -->
<script src="/assets/admin/js/jquery.core.js"></script>
<script src="/assets/admin/js/jquery.app.js"></script>

</body>
</html>
