{% include "../../header.html" %}
{% include "../../navigation.html" %}
<link href="/assets/vendor/summernote/summernote-bs4.css" rel="stylesheet" />

<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group pull-right">
                        <h4 class="page-title">Add Product</h4>
                    </div>
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">HuntCMS</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Product Add</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title">Add Product</h4>

                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">所属分类</label>
                                        <div class="col-10">
                                            <div class="mt-3">
                                                <select class="form-control" name="category_id">
                                                    {% for category in categorys %}
                                                    <option value="{{category.id}}">{{category.title}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">商品名称</label>
                                        <div class="col-10">
                                            <input type="text" name="title" class="form-control" required placeholder="Please enter your title">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">商品编号</label>
                                        <div class="col-10">
                                            <input type="text" name="code" class="form-control" required placeholder="Please enter your title">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">简介</label>
                                        <div class="col-10">
                                            <input type="text" name="introduction" value="" class="form-control" data-parsley-maxlength="12" placeholder="Please enter your nickname...">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Tag</label>
                                        <div class="col-10">
                                            {% for tag in tags %}
                                            <div class="checkbox checkbox-success form-check-inline">
                                                    <input type="checkbox" name="tag{{tag.id}}" value="{{tag.id}}">
                                                    <label for="inlineCheckbox21"> {{tag.name}} </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">PC主图</label>
                                        <div class="uploder-container col-10">
                                            <input class="fileUpdate" type="hidden" name="pc_picurl" value="">
                                            <div class="cxuploder">
                                                <div class="queueList">
                                                    <div class="placeholder" style="padding-top: 50px;">
                                                        <div class="filePicker"></div> <p>将照片拖到这里</p>
                                                    </div>
                                                </div>
                                                <div class="statusBar" style="display:none;">
                                                    <div class="btns"> <div class="jxfilePicker"></div> </div>
                                                    <div class="info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">APP主图</label>
                                        <div class="uploder-container col-10">
                                            <input class="fileUpdate" type="hidden" name="app_picurl" value="">
                                            <div class="cxuploder">
                                                <div class="queueList">
                                                    <div class="placeholder" style="padding-top: 50px;">
                                                        <div class="filePicker"></div> <p>将照片拖到这里</p>
                                                    </div>
                                                </div>
                                                <div class="statusBar" style="display:none;">
                                                    <div class="btns"> <div class="jxfilePicker"></div> </div>
                                                    <div class="info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">WAP主图</label>
                                        <div class="uploder-container col-10">
                                            <input class="fileUpdate" type="hidden" name="wap_picurl" value="">
                                            <div class="cxuploder">
                                                <div class="queueList">
                                                    <div class="placeholder" style="padding-top: 50px;">
                                                        <div class="filePicker"></div> <p>将照片拖到这里</p>
                                                    </div>
                                                </div>
                                                <div class="statusBar" style="display:none;">
                                                    <div class="btns"> <div class="jxfilePicker"></div> </div>
                                                    <div class="info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">预览图1</label>
                                        <div class="uploder-container col-10">
                                            <input class="fileUpdate" type="hidden" name="picurls1" value="">
                                            <div class="cxuploder">
                                                <div class="queueList">
                                                    <div class="placeholder" style="padding-top: 50px;">
                                                        <div class="filePicker"></div> <p>将照片拖到这里</p>
                                                    </div>
                                                </div>
                                                <div class="statusBar" style="display:none;">
                                                    <div class="btns"> <div class="jxfilePicker"></div> </div>
                                                    <div class="info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">预览图2</label>
                                        <div class="uploder-container col-10">
                                            <input class="fileUpdate" type="hidden" name="picurls2" value="">
                                            <div class="cxuploder">
                                                <div class="queueList">
                                                    <div class="placeholder" style="padding-top: 50px;">
                                                        <div class="filePicker"></div> <p>将照片拖到这里</p>
                                                    </div>
                                                </div>
                                                <div class="statusBar" style="display:none;">
                                                    <div class="btns"> <div class="jxfilePicker"></div> </div>
                                                    <div class="info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">预览图3</label>
                                        <div class="uploder-container col-10">
                                            <input class="fileUpdate" type="hidden" name="picurls3" value="">
                                            <div class="cxuploder">
                                                <div class="queueList">
                                                    <div class="placeholder" style="padding-top: 50px;">
                                                        <div class="filePicker"></div> <p>将照片拖到这里</p>
                                                    </div>
                                                </div>
                                                <div class="statusBar" style="display:none;">
                                                    <div class="btns"> <div class="jxfilePicker"></div> </div>
                                                    <div class="info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">预览图4</label>
                                        <div class="uploder-container col-10">
                                            <input class="fileUpdate" type="hidden" name="picurls4" value="">
                                            <div class="cxuploder">
                                                <div class="queueList">
                                                    <div class="placeholder" style="padding-top: 50px;">
                                                        <div class="filePicker"></div> <p>将照片拖到这里</p>
                                                    </div>
                                                </div>
                                                <div class="statusBar" style="display:none;">
                                                    <div class="btns"> <div class="jxfilePicker"></div> </div>
                                                    <div class="info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">预览图5</label>
                                        <div class="uploder-container col-10">
                                            <input class="fileUpdate" type="hidden" name="picurls5" value="">
                                            <div class="cxuploder">
                                                <div class="queueList">
                                                    <div class="placeholder" style="padding-top: 50px;">
                                                        <div class="filePicker"></div> <p>将照片拖到这里</p>
                                                    </div>
                                                </div>
                                                <div class="statusBar" style="display:none;">
                                                    <div class="btns"> <div class="jxfilePicker"></div> </div>
                                                    <div class="info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">价格（元）</label>
                                        <div class="col-4 input-group">
                                            <input type="text" name="min_price" class="form-control" required placeholder="最小价格">
                                            <input type="text" name="max_price" class="form-control" required placeholder="最大价格">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">内容</label>
                                        <div class="col-10">
                                            <textarea class="form-control" id="summernote" name="content"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">状态</label>
                                        <div class="col-10">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio1" name="status" value="1" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio1">上架</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio2" checked name="status" value="0" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio2">下架</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 justify-content-end row">
                                        <div class="col-md-10">
                                            <button type="submit" class="btn btn-info waves-effect waves-light">Create</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->

                </div> <!-- end card-box -->
            </div><!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- end container -->
</div>
<!-- end wrapper -->

{% include "../../footer.html" %}
<!-- Parsleyjs -->
<script type="text/javascript" src="/assets/vendor/parsleyjs/dist/parsley.min.js"></script>
<script src="/assets/vendor/summernote/summernote-bs4.min.js"></script>
<script>
    jQuery(document).ready(function(){
        $('form').parsley();
        $('#summernote').summernote({
            height: 350,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: false                 // set focus to editable area after initializing summernote
        });

        $('.inline-editor').summernote({
            airMode: true
        });

    });
</script>

<script type="text/javascript" src="/assets/vendor/upload/aliyunVideo.js"></script>
{% include "../../uploadPicRes.html" %}
<script>
    var config = {
        fileNumLimit: '1',               //最大上传图片数
        // 上传地址
        photoServer: '/admincp/system/file/upload',
        // 允许上传的格式
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/gif,image/jpg,image/jpeg,image/bmp,image/png'
        },
        // 最大上传量
        fileSizeLimit: 200 * 1024 * 1024,    // 200 M
        // 单张最大限制
        fileSingleSizeLimit: 50 * 1024 * 1024,  // 50 M
    }
    picupload(config)
</script>