{% include "../../header.html" %}
{% include "../../navigation.html" %}
<link href="/assets/vendor/summernote/summernote-bs4.css" rel="stylesheet" />
<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group pull-right">
                        <h4 class="page-title">Edit Article</h4>
                    </div>
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">HuntCMS</a></li>
                        <li class="breadcrumb-item"><a href="#">Article</a></li>
                        <li class="breadcrumb-item active">Edit Article</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title">Edit Article</h4>
                    <p class="text-muted m-b-30 font-14">
                        User can edit article.
                    </p>

                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form class="form-horizontal" method="POST"  enctype="multipart/form-data" action="{{ url('article.article.add','') }}" role="form">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Category</label>
                                        <div class="col-10">
                                            <select class="form-control" name="category">
                                                <option value="">-- select category --</option>
                                                {% for category in categories %}

                                                    {% if category.id == article.category.id %}
                                                    <option value="{{category.id}}" selected >{{category.name}}</option>
                                                    {% else %}
                                                    <option value="{{category.id}}">{{category.name}}</option>
                                                    {% endif %}
                                               
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Title</label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" name="title" value="{{article.title}}" placeholder="Title.." >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" for="example-summary">Summary</label>
                                        <div class="col-10">
                                            <input type="text" id="example-summary" name="summary" value="{{article.summary}}" class="form-control" placeholder="Summary..">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Author</label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" value="{{article.author}}" name="author">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                            <label class="col-2 col-form-label">Tag</label>
                                            <div class="col-10">
                                                {% for tag in tags %}
                                                <div class="checkbox checkbox-success form-check-inline">
                                                        <input type="checkbox" name="tag{{tag.id}}" value="{{tag.id}}" {% for tagarticle in tagarticles %}{% if tagarticle.tag_id == tag.id %} checked {% endif %}{% endfor %}>
                                                        <label for="inlineCheckbox21"> {{tag.name}} </label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Content</label>
                                        <div class="col-10">
                                            <textarea class="form-control" id="summernote" name="content">{{article.content}}</textarea>
                                        </div>
                                    </div>                                   

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Status</label>
                                        <div class="col-10">
                                            <div class="custom-control custom-radio">
                                                {% if article.status == 1 %}
                                                <input type="radio" id="customRadio1" name="customRadio" value="1" checked class="custom-control-input">
                                                {% else %}
                                                <input type="radio" id="customRadio1" name="customRadio" value="1" class="custom-control-input">
                                                {% endif %}
                                                <label class="custom-control-label" for="customRadio1">Enabled</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                {% if article.status == 0 %}
                                                <input type="radio" id="customRadio2" name="customRadio" checked value="0" class="custom-control-input">
                                                {% else %}
                                                <input type="radio" id="customRadio2" name="customRadio" value="0" class="custom-control-input">
                                                {% endif %}
                                                <label class="custom-control-label" for="customRadio2">Disabled</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-0 justify-content-end row">
                                        <div class="col-md-10">
                                            {% if article.id  %}
                                            <input type="hidden" name="id" value="{{article.id}}">
                                            <button type="submit" class="btn btn-info waves-effect waves-light">Save</button>
                                            {% else %}
                                            <button type="submit" class="btn btn-info waves-effect waves-light">Create</button>
                                            {% endif %}
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->

                </div> <!-- end card-box -->
            </div><!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- end container -->
</div>
<!-- end wrapper -->

{% include "../../footer.html" %}

<script src="/assets/vendor/summernote/summernote-bs4.min.js"></script>
<script>
    jQuery(document).ready(function(){

        $('#summernote').summernote({
            height: 350,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: false                 // set focus to editable area after initializing summernote
        });

        $('.inline-editor').summernote({
            airMode: true
        });

    });
</script>
<script type="text/javascript">
    $('#summernote').summernote({
        height: ($(window).height() - 300),
        callbacks: {
            onImageUpload: function(image) {
                uploadImage(image[0]);
            }
        }
    });
    
    function uploadImage(image) {
        var data = new FormData();
        data.append("imageFile", image);
        console.log(data);
        $.ajax({
            url: '/admincp/system/file/upload',
            cache: false,
            contentType: false,
            processData: false,
            data: data,
            type: "post",
            success: function(res) {
                var res = JSON.parse(res);
                var image = $('<img>').attr('src', res.picurl);
                $('#summernote').summernote("insertNode", image[0]);
            },
            error: function(data) {
                console.log(data);
            }
        });
    }
    </script>