{% include "../../header.html" %}
{% include "../../navigation.html" %}
<link rel="stylesheet" href="/assets/vendor/simplemde-markdown/dist/simplemde.min.css">
<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group pull-right">
                        <h4 class="page-title">{% if editType == "edit" %}编辑{% else %}创建{% endif %}节点</h4>
                    </div>
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">HuntCMS</a></li>
                        <li class="breadcrumb-item"><a href="#">文档管理</a></li>
                        <li class="breadcrumb-item"><a href="{{ url('document.document.list', '')}}">文档管理</a></li>
                        {% if document.currect == 0 %}
                        <li class="breadcrumb-item"><a href="{{ url('document.document.history', '')}}?project_id={{ document.project_id }}"></a>历史版本列表</li>
                        {% endif %}
                        <li class="breadcrumb-item"><a href="{{ url('document.node.list', '')}}?doc_id={{ document.id }}">节点列表管理</a></li>
                        <li class="breadcrumb-item active">{% if editType == "edit" %}编辑{% else %}创建{% endif %}节点</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title">{% if editType == "edit" %}编辑{% else %}创建{% endif %}节点</h4>
                    <p class="text-muted m-b-30 font-14">
                        {% if editType == "edit" %}编辑{% else %}创建{% endif %}节点信息，同一节点可以录入不同语言版本的文档。
                    </p>

                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form class="form-horizontal" method="POST" action="{{ url('document.node.edit','') }}" role="form" id="postForm">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">选择父级节点</label>
                                        <div class="col-10">
                                            <select class="form-control" name="parent_id">
                                                <option value="0">根目录节点</option>
                                                {% for node in nodes %}
                                                    {% if node.parent_id == 0 %}
                                                        <option value="{{ node.id }}" {% if editType == 'edit' and nodeData.parent_id == node.id %} selected{% endif %}>
                                                            {% for item in items %}
                                                                {% if item.node_id == node.id %}
                                                                {{ item.title }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </option>
                                                        {% for nc in nodes %}
                                                            {% if nc.parent_id == node.id %}
                                                            <option value="{{ nc.id }}" {% if editType == 'edit' and nodeData.parent_id == nc.id %} selected{% endif %} > ---- {% for item in items %}
                                                                    {% if item.node_id == nc.id %}
                                                                    {{ item.title }}
                                                                    {% endif %}    
                                                            {% endfor %}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">URL拼接SIGN KEY</label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" name="sign_key" value="{% if editType == 'edit' %}{{ nodeData.sign_key }}{% endif %}" placeholder="情输入URL拼接的字符" >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">节点排序(前台为正序显示，0排最后)</label>
                                        <div class="col-10">
                                            <input type="number" name="sort" value="{% if editType == 'edit' %}{{ nodeData.sort }}{% endif %}" class="form-control" placeholder="请输入排序值">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">状态</label>
                                        <div class="col-10">
                                            <div class="radio radio-success">
                                                <input type="radio" name="status" id="enable" value="1" {% if editType == 'edit' and nodeData.status == 1 %}checked{% endif %}>
                                                <label for="enable">
                                                    设置为可用
                                                </label>
                                            </div>
                                            <div class="radio radio-danger">
                                                <input type="radio" name="status" id="disable" value="0" {% if editType != 'edit' or nodeData.status != 1 %}checked{% endif %}>
                                                <label for="disable">
                                                    设置不可用
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">节点标题</label>
                                        <div class="col-10">    
                                            <input type="text" name="title" class="form-control" value="{% if editType == "edit" %}{{ itemData.title }}{% endif %}" placeholder="请输入节点的标题...">
                                        </div>
                                    </div> 
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">节点内容</label>
                                        <div class="col-10">
                                            <textarea class="form-control" id="content" name="content">{% if editType == "edit" %}{{ itemData.content }}{% endif %}</textarea>
                                            <input type="hidden" id="content_html" name="content_html" value="">
                                        </div>
                                    </div>         

                                    <div class="form-group mb-0 justify-content-end row">
                                        <div class="col-md-10">
                                            {% if editType == "edit" %}
                                            <input type="hidden" name="id" value="{{nodeData.id}}">
                                            <input type="hidden" name="document_id" value="{{nodeData.document_id}}">
                                            <input type="hidden" name="language_id" value="{{nodeData.language_id}}">
                                            <button type="button" id="submit-form" class="btn btn-info waves-effect waves-light">修改节点数据</button>
                                            {% else %}
                                            <input type="hidden" name="document_id" value="{{ document.id }}">
                                            <input type="hidden" name="language_id" value="{{ document.main_language }}">
                                            <button type="button" id="submit-form" class="btn btn-info waves-effect waves-light">新建节点数据</button>
                                            {% endif %}
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->

                </div> <!-- end card-box -->
            </div><!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- end container -->
</div>
<!-- end wrapper -->

{% include "../../footer.html" %}
<script src="/assets/vendor/simplemde-markdown/dist/simplemde.min.js"></script>
<script>
var simplemde = new SimpleMDE({
	// autosave: {
    //         enabled: true,
    //         uniqueId: "MyUniqueID",
    //         delay: 1000
    //     },
        status: ["autosave", "lines", "words"],
        spellChecker: false,
        element: document.getElementById("content"),
        promptURLs: true,
        toolbar: [
            "bold", "italic", "strikethrough", "heading", "code", "quote", "unordered-list",
            "ordered-list", "clean-block", "link", "image", "table", "horizontal-rule", "preview", "side-by-side", "fullscreen", "guide"]
});

</script>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script>
    $(function() {
        $("#submit-form").click(function(e) {
            var testPlain = simplemde.value(), 
                testMarkdown = simplemde.markdown(testPlain);
            $("#content_html").val(testMarkdown);
            $("#postForm").submit();
        });

    })
</script>