{% include "../../header.html" %} {% include "../../navigation.html" %}

<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group pull-right">
                        <h4 class="page-title">Edit TypeRelationProperty</h4>
                    </div>
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="#">HuntCMS</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">TypeRelationProperty</a>
                        </li>
                        <li class="breadcrumb-item active">Edit TypeRelationProperty</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title">Edit TypeRelationProperty</h4>
                    <p class="text-muted m-b-30 font-14">
                        User can Edit shop TypeRelationProperty.
                    </p>

                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form class="form-horizontal" role="form" action="{{ url('shop.typerelationproperty.add', "")}}" method="post">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Id</label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" required id="id" name="id" readonly="readonly" placeholder="Some text value..." value="{{ type.id }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Type</label>
                                        <div class="col-10">
                                            <select class="form-control" name="type_id" required id="type_id">
                                                {% for property in types%}
                                                <option value="{{property.id}}" {% if property.id == type.type_id %}selected{% endif %}>{{property.title}} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Property</label>
                                        <div class="col-10">
                                            <select class="form-control" name="property_id" required id="property_id">
                                                {% for property in properties%}
                                                <option value="{{property.id}}"  {% if property.id == type.property_id %}selected{% endif %}>{{property.title}} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">sort</label>
                                        <div class="col-10">
                                            <input type="tel" class="form-control" required id="sort" name="sort" placeholder="Some text value..." value="{{type.sort}}">
                                        </div>
                                    </div>

                                    <div class="form-group mb-0 justify-content-end row">
                                        <div class="col-md-10">
                                            <button type="submit" id="permission_add" class="btn btn-info waves-effect waves-light">Save</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->

                </div>
                <!-- end card-box -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

    </div>
    <!-- end container -->
</div>
<!-- end wrapper -->

{% include "../../footer.html" %}

<!-- Parsleyjs -->
<script type="text/javascript" src="/assets/vendor/parsleyjs/dist/parsley.min.js"></script>
<script>
    $(document).ready(function() {
        $('form').parsley();
    });
</script>